<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetNichoir</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetNichoir.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Bouton pour ouvrir le offcanvas -->
<button class="btn btn-light offcanvas-toggle" type="button" 
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
    ☰
</button>

<!-- SIDEBAR OFFCANVAS -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar">
    <div class="offcanvas-body">

        <a class="sidebar-item active" href="#">
            <span class="icon">📚</span> Toutes les photos
        </a>

        <a class="sidebar-item" href="#">
            <span class="icon">📅</span> Photos du jour
        </a>

        <a class="sidebar-item" href="#">
            <span class="icon">🕊️</span> Photos par nichoir
        </a>

        <a class="sidebar-item" href="#">
            <span class="icon">⭐</span> Favoris
        </a>

        <a class="sidebar-item" href="#">
            <span class="icon">🔍</span> Recherche / filtres
        </a>

        <a class="sidebar-item" href="#">
            <span class="icon">📁</span> Albums
        </a>

    </div>
</div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
