@model ProjetNichoir.Models.Nichoir

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nichoir</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emplacement" class="control-label"></label>
                <input asp-for="emplacement" class="form-control" />
                <span asp-validation-for="emplacement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_ajout" class="control-label"></label>
                <input asp-for="date_ajout" class="form-control" />
                <span asp-validation-for="date_ajout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statut_batterie" class="control-label"></label>
                <input asp-for="statut_batterie" class="form-control" />
                <span asp-validation-for="statut_batterie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statut_pir" class="control-label"></label>
                <input asp-for="statut_pir" class="form-control" />
                <span asp-validation-for="statut_pir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statut_led_ir" class="control-label"></label>
                <input asp-for="statut_led_ir" class="form-control" />
                <span asp-validation-for="statut_led_ir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resolution_camera" class="control-label"></label>
                <input asp-for="resolution_camera" class="form-control" />
                <span asp-validation-for="resolution_camera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
